# 4. Data Structures (list, dict, tuples, sets, strings)

lists are part of the standard language. You will find them everywhere. Like almost everything in Python, lists are objects. There are many methods associated to them. Some of which are presented here below.

4.1.1. Quick example

In [11]:
l = [1, 2, 3]
l[0]

1

In [13]:
l.append([1,2,3])
l

[1, 2, 3, [1, 2, 3]]

In [14]:
l.extend([1])
l

[1, 2, 3, [1, 2, 3], 1]

4.1.2. Difference between append() and extend()¶

Lists have several methods amongst which the append() and extend() methods. The former appends an object to the end of the list (e.g., another list) while the later appends each element of the iterable object (e.g., anothee list) to the end of the list.

In [25]:
stack = ['a','b']
stack

['a', 'b']

However, if we want to append several objects contained in a list, the result as expected (or not...) is:stack.append('c')

In [26]:
stack.append(['d', 'e', 'f'])
stack

['a', 'b', ['d', 'e', 'f']]

The object ['d', 'e', 'f'] has been appended to the exiistng list. However, it happens that sometimes what we want is to append the elements one by one of a given list rather the list itself. You can do that manually of course, but a better solution is to use the extend() method as follows:

In [23]:
stack = ['a', 'b', 'c']
stack.extend(['d', 'e','f'])
stack

['a', 'b', 'c', 'd', 'e', 'f']

4.1.3. Other list methods

4.1.3.1. index                                   
The index() methods searches for an element in a list. For instance:                  It returns the index of the first and only occurence of ‘b’. If you want to specify a range of valid index, you can indicate the start and stop indices:

In [19]:
my_list = ['a','b','c','b', 'a']
my_list.index('b')

1

In [20]:
my_list = ['a','b','c','b', 'a']
my_list.index('b', 2)

3

4.1.3.2. insert           
You can remove element but also insert element wherever you want in a list:
The insert() methods insert an object before the index provided.

In [26]:
my_list.insert(2,'a')
my_list

['b', 'a', 'a', 'c', 'b', 'a']

4.1.3.3. remove                                          
Similarly, you can remove the first occurence of an element as follows:

In [24]:
my_list.remove('a')
my_list

['b', 'a', 'c', 'b', 'a']

4.1.3.4. pop                                                                 Or remove the last element of a list by using:
which also returns the value that has been removed.

In [32]:
my_list.pop()
my_list

['b', 'a', 'c', 'b']

4.1.3.5. count
You can count the number of element of a kind:

In [33]:
my_list.count('b')

2

4.1.3.6. sort
There is a sort() method that performs an in-place sorting:

In [34]:
my_list.sort()
my_list

['a', 'b', 'b', 'c']

Here, it is quite simple since the elements are all characters. For standard types, the sorting works well. Imagine now that you have some non-standard types. You can overwrite the function used to perform the comparison as the first argument of the sort() method.

In [35]:
#There is also the possiblity to sort in the reverse order:
my_list.sort(reverse=True)
my_list

['c', 'b', 'b', 'a']

4.1.4. Operators
The + operator can be used to extend a list:

In [37]:
my_list = [1]
my_list += [2]
my_list

[1, 2]

In [38]:
my_list += [3, 4]
my_list

[1, 2, 3, 4]

In [39]:
#The * operator ease the creation of list with similar values
my_list = [1, 2]
my_list = my_list * 2
my_list

[1, 2, 1, 2]

4.1.5. Slicing ------  Slicing uses the symbol : to access to part of a list:

In [41]:
#list[first index:last index:step]
#list[:]

a = [0, 1, 2, 3, 4, 5]
a[2:]

[2, 3, 4, 5]

In [42]:
a[:2]

[0, 1]

In [43]:
a[2:-1]

[2, 3, 4]

By default the first index is 0, the last index is the last one..., and the step is 1. The step is optional. So the following slicing are equivalent:

In [44]:
a = [1, 2, 3, 4, 5, 6, 7, 8]
a[:]

[1, 2, 3, 4, 5, 6, 7, 8]

In [45]:
a[::1]

[1, 2, 3, 4, 5, 6, 7, 8]

In [46]:
a[0::1]

[1, 2, 3, 4, 5, 6, 7, 8]

4.1.6. List comprehension
----Traditionally, a piece of code that loops over a sequence could be written as follows:

In [51]:
evens = []
for i in range(10):
    if i % 2 == 0:
        evens.append(i)
evens

[0, 2, 4, 6, 8]

This may work, but it actually makes things slower for Python because the interpreter works on each loop to determine what part of the sequence has to be changed.

-----A list comprehension is the correct answer:

In [52]:
[i for i in range(10) if i % 2 == 0]

[0, 2, 4, 6, 8]

# 4.1.7. Filtering Lists

In [53]:
li = [1, 2]
[elem*2 for elem in li if elem>1]

[4]

# 4.1.8. Lists as Stacks ----
The Python documentation gives an example of how to use lists as stacks, that is a last-in, first-out data structures (LIFO).

An item can be added to a list by using the append() method. The last item can be removed from the list by using the pop() method without passing any index to it.

In [54]:
stack = ['a','b','c','d']
stack.append('e')

In [55]:
stack.append('f')

In [56]:
stack

['a', 'b', 'c', 'd', 'e', 'f']

In [57]:
stack.pop()

'f'

In [58]:
stack

['a', 'b', 'c', 'd', 'e']

# 4.1.9. Lists as Queues ----
Another usage of list, again presented in Python documentation is to use lists as queues, that is a first in - first out (FIFO).

In [59]:
queue = ['a', 'b', 'c', 'd']
queue.append('e')

In [60]:
queue.append('f')
queue

['a', 'b', 'c', 'd', 'e', 'f']

In [61]:
queue.pop(0)

'a'

# 4.1.10. How to copy a list -----
There are three ways to copy a list:

In [69]:
l2 = list(l)
l2 = l[:]

In [72]:
import copy
l2 = copy.copy(l)

In [74]:
l[:]

[1, 2, 3, 1]

The preceding techniques for copying a list create shallow copies. IT means that nested objects will not be copied. Consider this example:

In [80]:
a = [1, 2, [3, 4]]
b = a[:]
a[2][0] = 10
a

[1, 2, [10, 4]]

In [81]:
b

[1, 2, [10, 4]]

In [82]:
#To get around this problem, you must perform a deep copy:
import copy
a = [1, 2, [3, 4]]
b = copy.deepcopy(a)
a[2][0] = 10
a

[1, 2, [10, 4]]

In [83]:
b

[1, 2, [3, 4]]

4.1.10.1. Inserting items into a sorted list ----
The bisect module provides tools to manipulate sorted lists.

In [84]:
x = [4, 1]
x.sort()

import bisect
bisect.insort(x, 2)
x

[1, 2, 4]

In [85]:
#To know where the index where the value would have been inserted, you could have use:
x = [4, 1]
x.sort()
import bisect
bisect.bisect(x, 2)

1

# 4.2. Tuples
---- In Python, tuples are part of the standard language. This is a data structure very similar to the list data structure. The main difference being that tuple manipulation are faster than list because tuples are immutable.

In [86]:
#4.2.1. Constructing tuples
#To create a tuple, place values within brackets:

l = (1, 2, 3)
l[0]

1

In [88]:
#It is also possible to create a tuple without parentheses, by using commas:
l = 1, 2
l

(1, 2)

In [97]:
#If you want to create a tuple with a single element, you must use the comma:
singleton = (1, )
singleton

(1,)

In [90]:
#You can repeat a tuples by multiplying a tuple by a number:
(1,) * 5

(1, 1, 1, 1, 1)

In [91]:
#Note that you can concatenate tuples and use augmented assignement (*=, +=):
s1 = (1,0)
s1 += (1,)
s1

(1, 0, 1)

In [96]:
s1 = (1,0)
s1 *= (5)
s1

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

4.2.2. Tuple methods ----
Tuples are optimised, which makes them very simple objects. There are two methods available only:
    
index, to find occurence of a value -----
count, to count the number of occurence of a value

In [98]:
l = (1,2,3,1)
l.count(1)

2

In [102]:
l.index(3)

2

4.2.3. Interests of tuples ----
So, Tuples are useful because they are ----
faster than lists ----
protect the data, which is immutable ----
tuples can be used as keys on dictionaries ----
In addition, it can be used in different useful ways:

# 4.2.3.1. Tuples as key/value pairs to build dictionaries

In [103]:
d = dict([('jan', 1), ('feb', 2), ('march', 3)])
d['feb']

2

In [104]:
d

{'feb': 2, 'jan': 1, 'march': 3}

4.2.3.2. signing multiple values

In [105]:
(x,y,z) = ('a','b','c')
x

'a'

In [106]:
(x,y,z) = range(3)
x

0

4.2.3.3. Tuple Unpacking ----
Tuple unpacking allows to extract tuple elements automatically is the list of variables on the left has the same number of elements as the length of the tuple

In [108]:
data  = (1,2,3)
x, y, z = data
y

2

4.2.3.4. Tuple can be use as swap function ----
This code reverses the contents of 2 variables x and y:

In [109]:
(x,y) = (y,x)

4.2.4. Misc ----
4.2.4.1. length ----
To find the length of a tuple, you can use the len() function:

In [110]:
t= (1,2)
len(t)

2

4.2.4.2. Slicing (extracting a segment)

In [111]:
t = (1,2,3,4,5)
t[2:]

(3, 4, 5)

4.2.4.3. Copy a tuple ----
To copy a tuple, just use the assignement:

In [113]:
t = (1, 2, 3, 4, 5)
newt = t
t[0] = 5
newt

#Warning
#You cannot copy a list with the = sign because lists are mutables. The = sign creates a reference not a copy.
#Tuples are immutable therefore a = sign does not create a reference but a copy as expected.

TypeError: 'tuple' object does not support item assignment

4.2.4.4. Tuple are not fully immutable !!  ----
If a value within a tuple is mutable, then you can change it:

In [114]:
t = (1, 2, [3, 10])
t[2][0] = 9
t

(1, 2, [9, 10])

4.2.4.5. Convert a tuple to a string ----
You can convert a tuple to a string with either:

In [116]:
str(t)

'(1, 2, [9, 10])'

In [117]:
't'

't'

4.2.4.6. math and comparison ----
comparison operators and mathematical functions can be used on tuples. Here are some examples:

In [118]:
t = (1, 2, 3)
max(t)

3

# 4.3. Dicts

Contents
-Dicts
-Quick example
-Methods to query information
-Methods to create new dictionary
-iterators
-Views
-comparison

4.3.1. Quick example ----
A dictionary is a sequence of items. Each item is a pair made of a key and a value. Dictionaries are not sorted. You can access to the list of keys or values independently.

In [12]:
d = {'first':'string value', 'second':[1,2]}
d.keys()

dict_keys(['first', 'second'])

In [2]:
d.values()

dict_values(['string value', [1, 2]])

In [5]:
#You can access to the value of a given key as follows:
#You can not have duplicate keys in a dictionary
#dictionary have no concept of order among elements
d['first']

'string value'

4.3.2. Methods to query information ----
In addition to keys and values methods, there is also the items method that returns a list of items of the form (key, value). The items are not returned in any particular order:

In [76]:
#The iteritems method works in much the same way, but returns an iterator instead of a list. 
#See iterators section for an example

d = {'first':'string value', 'second':[1,2]}
d.items()

dict_items([('first', 'string value'), ('second', [1, 2])])

----You can check for the existence of a specific key with has_key:

In [77]:
#The expression d.has_key(k) is equivalent to k in d. The choice of which to use is largely a matter of taste.

d.has_key("first")

AttributeError: 'dict' object has no attribute 'has_key'

In [78]:
'first' in d

True

In [18]:
#In order to get the value corresponding to a specific key, use get or pop:
d.get('first') # # this method can set an optional value, if the key is not found

'string value'

In [25]:
#It is useful for things like adding up numbers:   need to look into this ((setdefault, collections))
sum[value] = sum.get(value, 0) + 1

AttributeError: 'builtin_function_or_method' object has no attribute 'get'

In [32]:
#The difference between get and pop is that pop also removes the corresponding item from the dictionary:
d.pop('first')
d

{'second': [1, 2]}

In [33]:
#Finally,popitem removes and returns a pair(key, value); you do not choose which one because a dictionary is not sorted

d.popitem()

('second', [1, 2])

In [34]:
d

{}

4.3.3. Methods to create new dictionary ----
Since dictionaries (like other sequences) are objects, you should be careful when using the affectation sign:

In [35]:
d1 = {'a': [1,2]}
d2 = d1

In [36]:
d1

{'a': [1, 2]}

In [37]:
d2

{'a': [1, 2]}

In [38]:
d2['a'] = [1,2,3,4]

{'a': [1, 2, 3, 4]}

In [42]:
d2

{'a': [1, 2, 3, 4]}

In [43]:
d1

{'a': [1, 2, 3, 4]}

In [81]:
#To create a new object, use the copy method (shallow copy):  ------- see also (copy.deepcopy())------------
d1 = {'a': [1,2]}
d2 = d1.copy()

In [47]:
d2

{'a': [1, 2]}

In [48]:
d2['a'] = [1,2,3,4]

In [49]:
d1

{'a': [1, 2]}

In [50]:
d2

{'a': [1, 2, 3, 4]}

In [51]:
#You can clear a dictionary (i.e., remove all its items) using the clear() method:
d2.clear()

In [52]:
d2

{}

In [61]:
#The clear() method deletes all items whereas del() deletes just one:
d = {'a':1, 'b':2, 'c':3}
del d['a']

In [56]:
d

{'b': 2, 'c': 3}

In [57]:
d.clear()

In [58]:
d

{}

In [62]:
#Create a new item with default value (if not provided, None is the default):
d.setdefault('third', '')
d['third']

''

In [63]:
d

{'b': 2, 'c': 3, 'third': ''}

In [64]:
#Create a dictionary given a set of keys:
d2.fromkeys(['first', 'second'])

{'first': None, 'second': None}

In [65]:
d2

{}

In [67]:
#another syntax is to start from an empty dictionary: 
#fromkeys() method creates a new dictionary with the given keys, each with a default corresponding value of None.
{}.fromkeys(['first', 'second'])

{'first': None, 'second': None}

4.3.3.1. Combining dictionaries -----
Given 2 dictionaries d1 and d2, you can add all pairs of key/value from d2 into d1 by using the update method (instead of looping and assigning each pair yourself:

In [69]:
d1 = {'a':1}
d2 = {'a':2, 'b':2}
d1.update(d2)

In [74]:
#The items in the supplied dictionary are added to the old one, overwriting any items there with the same keys.

d1

{'a': 2, 'b': 2}

In [71]:
d2

{'a': 2, 'b': 2}

In [72]:
d1['a']

2

In [73]:
d2['b']

2

4.3.4. iterators ----
Dictionary provides iterators over values, keys or items:

In [87]:
# python 3 : Removed dict.iteritems(), dict.iterkeys(), and dict.itervalues().
#Instead: use dict.items(), dict.keys(), and dict.values() respectively.

t = {'first':'string value', 'second':[1,2]}

[x for x in t.keys()]

['first', 'second']

In [88]:
[x for x in t.values()]

['string value', [1, 2]]

In [89]:
[x for x in t.items()]

[('first', 'string value'), ('second', [1, 2])]

4.3.5. Views
viewkeys, viewvalues, viewitems are set-like objects providing a view on D’s keys, values or items.

4.3.6. comparison
you can compare dictionaries! Python first compares the sorted key-value pairs. It first sorts dictionaries by key and comapre their initial items. If the items hae different values, Python figures out the comparison between them. Otherwise, the second items are compared and so on.

# 4.4. Strings

Creating a string (and special characters)
--Strings are immutable
--Formatter
--Operators
--Methods
--Methods to query information
--Methods that return a modified version of the string
--Methods to find position of substrings
--Methods to build or decompose a string
--Encoding/Decoding/Unicode

--In short, strings are immutable sequence of characters. There are a lot of methods to ease manipulation and creation of strings as shown here below.

In [91]:
#4.4.1. Creating a string (and special characters)
#Single and double quotes are special characters. There are used to defined strings. 
#There are actually 3 ways to define a string using either single, double or triple quotes:

text = 'The surface of the circle is 2 pi R = '
text = "The surface of the circle is 2 pi R = "
text = '''The surface of the circle is 2 pi R = '''

In [95]:
#In fact the latest is generally written using triple double quotes:

text = """The surface of the circle is 2 pi R = """

In [101]:
#Strings in double quotes work exactly the same as in single quotes but allow to insert single quote character 
#inside them.

#The interest of the triple quotes (‘’’ or “””) is that you can specify multi-line strings. Moreover, 
#single quotes and double quotes can be used freely within the triple quotes:

text = """ a string with special character " and ' inside """

In [102]:
text

' a string with special character " and \' inside '

In [108]:
#The ” and ‘ characters are part of the Python language; they are special characters. 
#To insert them in a string, you have to escape them (i.e., with a \ chracter in front of them to
#indicate the special nature of the character). For instance:

text = " a string with escaped special character \", \' inside "

In [104]:
text

' a string with escaped special character ", \' inside '

In [105]:
#There are a few other special characters that must be escaped to be included in a string.
#See The print statement for more information. https://docs.python.org/3/reference/simple_stmts.html#print

#To include unicode, you must precede the string with the u character:

u"\u0041"

#unicode is a single character set used to represent 65536 different characters.

'A'

In [106]:
#Similarly, you may see strings preceded by the r character to indicate that the string has to be interpreted 
#as it is without interpreting the special character \. 
#This is useful for docstrings that contain latex code for instance:

r" \textbf{this is bold text in LaTeX} "

' \\textbf{this is bold text in LaTeX} '

In [109]:
#4.4.2. Strings are immutable
#You can access to any character using slicing:

text[0]

' '

In [110]:
text[-1]

' '

In [111]:
text[0:]

' a string with escaped special character ", \' inside '

In [112]:
#However, you cannot change any character:
text[0] = 'a' #this is incorrect.

TypeError: 'str' object does not support item assignment

In [114]:
#4.4.3. Formatter
#In Python, the % sign lets you produce formatted output. 
#A quick example will illustrate how to print a formatted string:

print("%s" % "some text")

some text

In [115]:
#The syntax is simply:

# string % values
#If you have more than one value, they should be placed within brackets:

print("%s %s" % ("a", "b"))

a b

In [117]:
#The string contains characters and conversion specifiers (here %s)
#To escape the sign %, just double it:

print("This is a percent sign: %%")

This is a percent sign: %%

In [118]:
#There are different ways of formatting a string with arguments.
#The one based on a string method called format() is more and more common:

"{a}!={b}".format(a=2, b=1)

'2!=1'

In [122]:
#4.4.4. Operators
#The mathematical operators + and * can be used to create new strings:

t = 'This is a test'
t2 = t+t
t3 = t*3

#and comparison operators >, >=, ==, <=, < and != can be used to compare strings.

In [123]:
t2

'This is a testThis is a test'

In [124]:
t3

'This is a testThis is a testThis is a test'

In [4]:
#4.4.5. Methods
#The string methods are numerous, however, many of them are similar (as you will see in this page).

#4.4.5.1. Methods to query information
#There are a few methods to check the type of alpha numeric characters present in a string:
# isdigit(), isalpha(), islower(), isupper(), istitle(), isspace(), str.isalnum():

"44".isdigit()  # is the string made of digits only ?
"44".isalpha()  # is the string made of alphabetic characters only ?
"44".isalnum()  # is the string made of alphabetic characters or digits only ?
"Aa".isupper()  # is it made of upper cases only ?
"aa".islower()  # or lower cases only ?
"Aa".istitle()  # does the string start with a capital letter ?

True

In [2]:
text = "There are spaces but not only"
text.isspace() # is the string made of spaces only ?

False

In [3]:
#You can count the occurence of a character with count() or get the length of a string with len():
mystr = "This is a string"
mystr.count('i')
len(mystr)

16

In [5]:
# 4.4.5.2. Methods that return a modified version of the string
# The following methods return modified copy of the original string, which is immutable.

# First, you can modify the cases using title(), capitalize(), lower(), upper() and swapcase():

mystr = "this is a dummy string"
mystr.title()       # return a titlecase version of the string
mystr.capitalize()  # return a string with first letter capitalised only.
mystr.upper()       # return a capitalised version of the string
mystr.lower()       # return a copy of the string converted to lower case
mystr.swapcase()    # replace lower case by upper case and vice versa


mystr = "this is a dummy string"
mystr.center(40)              # center the string in a string of length 40
mystr.ljust(30)               # justify the string to the left (width of 20)
mystr.rjust(30, '-')          # justify the string to the right (width of 20)


#There is also a zfill() methods that adds zero to the left, which is equivalent to .rjust(width, '0'):
mystr.zfill(30)

# or remove trailing spaces with the strip() methods:
mystr = "  string with left and right spaces   "
mystr.strip()
mystr.rstrip()
mystr.lstrip()


# or expand tabs with expandtabs():
'this is a \t tab'.expandtabs()

'this is a        tab'

In [15]:
# You can remove some specific characters with translate() or replace words with replace():  
########################## errror need to be checked ########################
mystr = "this is a dummy string"
#mystr.replace('dummy', 'great', 1)  # the 1 means replace only once

mystr.translate(None, 'aeiou')

TypeError: translate() takes exactly one argument (2 given)

In [16]:
#Finally, you can separate a string with respect to a single separator with partition():

t = "this is a dummy string"
t.partition('is')

('th', 'is', ' is a dummy string')

In [17]:
t.rpartition('is')

('this ', 'is', ' a dummy string')

In [25]:
#4.4.5.3. Methods to find position of substrings
#The are methods such as endswith(), startswith(), find() and index() that allow to search for substrings in a string.

mystr = "This is a dummy string"
# mystr.endswith('ing')       # may provide optional start and end indices
#mystr.startswith('This')    # may provide start and end indices
#mystr.find('is')            # returns start index of 'is' first occurence
#mystr.find('is', 4)         # starting at index 4, returns start index of 'is' first occurence
#mystr.rfind('is')           # returns start index of 'is' last occurence
#mystr.index('is')           # like find but raises error when substring is not found
#mystr.rindex('is')          # like rfind but raises error when substring is not found

5

In [37]:
#4.4.5.4. Methods to build or decompose a string
#A useful function is the split() methods that splits a string according to a character. 
#The inverse function exist and is called join().

message = ' '.join(['this' ,'is', 'a', 'useful', 'method'])
#message
message.split(' ')

['this', 'is', 'a', 'useful', 'method']

In [29]:
#The split() function can be applied to a limited number of times if needed. 
#However, it starts from the left. If you want to start from the right, use rsplit() instead:

message = ' '.join(['this' ,'is', 'a', 'useful', 'method'])
message.rsplit(' ', 2)

['this is a', 'useful', 'method']

In [35]:
#If a string is multi-lines, you can split it with splitlines():

'this is an example\n of\ndummy sentences'.splitlines()

['this is an example', ' of', 'dummy sentences']

In [32]:
#you can keep the endline character by giving True as an optional argument.

#Finally, note that split() removes the splitter:

"this is an exemple".split(" is ")

['this', 'an exemple']

In [33]:
#If you want to keep the splitter as well, use partition()

"this is an exemple".partition(" is ")

('this', ' is ', 'an exemple')

In [38]:
#4.4.5.5. Encoding/Decoding/Unicode
#We’ve seen how to create a unicode by adding the letter u in front of a string:

s = u"\u0041"

In [39]:
s

'A'

In [40]:
#The function unicode() converts a standard string to unicode string using the encoding 
# specified as an argument (default is the default string encoding):

s = unicode("text", "ascii")

NameError: name 'unicode' is not defined

In [42]:
#In order to figure out the default encoding, type:

import sys
sys.getdefaultencoding()

#Here are some encodings:
# ascii, utf-8, iso-8859-1, latin-1, utf-16, unicode-escape.

AttributeError: 'str' object has no attribute 'getdefaultencoding'

In [48]:
#The unicode function takes also a third argument set to: ‘strict’, ‘ignore’ or ‘replace’.
#Let us take another example with accents:
# Let us start wil a special character.

text = u"π"

In [44]:
text

'π'

In [50]:
# to obtain its code (in utf-8), let us use the encode function
encoded = text.encode("utf-8")

In [46]:
encoded

b'\xcf\x80'

In [51]:
decoded = text.decode("utf-8")

AttributeError: 'str' object has no attribute 'decode'

# 4.5. Sets

--Quick example
--Ordering
--Operators
--Sets are constructed from a sequence (or some other iterable object). Since sets cannot have duplicated, there are usually used to build sequence of unique items (e.g., set of identifiers).

In [57]:
#4.5.1. Quick example
a = set([1, 2, 3, 4])
b = set([3, 4, 5, 6])

a | b # Union

#a & b # Intersection

#a < b # Subset

#a - b # Difference

#a ^ b # Symmetric Difference

#the intersection, subset, difference and symmetric difference can be be called with method 
#rather that symbols. See below for examples

{1, 2, 5, 6}

#4.5.2. Ordering ---
#Just as with dictionaries, the ordering of set elements is quite arbitrary, and shouldn’t be relied on.

#4.5.3. Operators ---
#As mentionned in the quick example section, each operator is associated to a symbol (e.g., &) and a method name (e.g. union).

In [67]:
a = set([1, 2, 3])
b = set([2, 3, 4])
c = a.intersection(b) # equivalent to c = a & b

#a.intersection(b)
#c.issubset(a)
#c <= a

#c.issuperset(a)
#c >= a

#a.difference(b)
#a - b

#a.symmetric_difference(b)
#a ^ b

# #You can also copy a set using the copy method:

#a.copy()

{1, 2, 3}